<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main page</title>

    <script src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/index.js"></script>

    <link rel="stylesheet" type="text/css" href="js/plugins/table/dataTable/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="js/plugins/table/dataTable/jquery.dataTables.js"></script>

    <script src="js/author/editAuthor.js"></script>
    <script src="js/author/authorPlugins.js"></script>
    <script src="js/author/authorsTable.js"></script>
    <script src="js/author/addAuthor.js"></script>
    <script src="js/author/deleteAuthor.js"></script>
    <script src="js/author/getAuthorList.js"></script>
    <script src="js/author/authorEditForm.js"></script>
    <script src="js/author/authorListForm.js"></script>
    <script src="js/author/getAuthorsClick.js"></script>
    <script src="js/book/elements/genres/deleteGenreFromBook.js"></script>
    <script src="js/book/elements/genres/genresTable.js"></script>
    <script src="js/book/elements/genres/addGenres.js"></script>
    <script src="js/book/elements/comments/deleteCommentFromBook.js"></script>
    <script src="js/book/elements/comments/commentsTable.js"></script>
    <script src="js/book/elements/comments/addComment.js"></script>
    <script src="js/book/elements/authors/deleteAuthorFromBook.js"></script>
    <script src="js/book/elements/authors/authorsTableForBooks.js"></script>
    <script src="js/book/elements/authors/addAuthorToBook.js"></script>
    <script src="js/book/elements/authors/authorSelector.js"></script>
    <script src="js/book/elements/authors/getAuthorsFromBook.js"></script>
    <script src="js/book/booksTable.js"></script>
    <script src="js/book/addBook.js"></script>
    <script src="js/book/editBook.js"></script>
    <script src="js/book/deleteBook.js"></script>
    <script src="js/book/getBookList.js"></script>
    <script src="js/book/bookEditForm.js"></script>
    <script src="js/book/bookListForm.js"></script>
    <script src="js/book/getBooksClick.js"></script>
</head>
<body>
    <br>
    <a href="/books" id="getBooks">Show list of book</a>
    <br>
    <a href="/authors" id="getAuthors">Show list of authors</a>
    <div id="root" name="root"/>
</body>
</html>