<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>List of all authors</title>

    <link rel="stylesheet" type="text/css" th:href="style.css"/>

</head>
<body>
<h1>Authors:</h1>
<a href="/">Return to main page</a>
<BR>
<table class="blueTable">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Action edit</th>
        <th>Action del</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="author : ${authors}">
        <td th:text="${author.id}">1</td>
        <td th:text="${author.name}">John Doe</td>
        <td width="20">
            <a th:href="@{/author(id=${author.id})}" href="authorEdit.html">Edit</a>
        </td>
        <td width="20">
            <a th:href="@{/deleteAuthor(id=${author.id})}" href="deleteAuthor">Del</a>
        </td>
    </tr>
    </tbody>
    <a th:href="@{/newAuthor}" href="authorEdit.html">Add author</a>
</table>
</body>
</html>
